@media all and (max-width: 767px){
	.main-header{
		flex-direction: column;
	}
	.main-nav {
	    flex-direction: column;
	    padding: 11px 2px;
	}
	#home-section{
		flex-direction: column;
	}
	#home-section .signup{
		display: none;
	}
	.main-nav > div{
	    padding: 3px 21px;
	    border-bottom: 1px solid #fafafa;
	}
	.left-nav{
		margin-left: 0;
	}
	.auto-width{
		width: auto !important;
	}

	.signin {
	    padding: 40px 0 40px 0;
	}
	.signup {
	    padding: 40px 0 40px 0;
	}


}
@media all and (max-width: 550px){
	footer{
		justify-content: center;
	}
}